
@{
    ViewBag.Title = "Index";
}
<div class="collection-hero collection-hero--with-image collection-hero--contrast section-template--15208910487684__banner-padding">
    <div class="collection-hero__inner">
        <div class="collection-hero__image-container">
            <use-animate data-animate="zoom-fade" class="media-wrapper" animate="">
                <lazy-image class="collection-hero__image image-animate media media--adapt media-mobile--250px " style="--image-ratio-percent: 21.9672131147541%;">
                    <img class="img-product" width="900" height="315" 
                        src="https://agrilifetoday.tamu.edu/wp-content/uploads/2020/09/fetilizer-1366x598.jpg" sizes="(min-width: 1400px) 1300px, (min-width: 750px) calc(100vw - 10rem), 100vw" alt="Plastic Pots" width="2135" height="315">
                </lazy-image>
            </use-animate>
        </div><div class="page-width">
            <div class="collection-hero__text-wrapper">
                <h1 class="collection-hero__title">
                    <span class="visually-hidden">Collection:</span>
                    Giỏ hàng
                </h1>
            </div>
        </div>
    </div>
</div>

<!-- Shoping Cart Section Begin -->
<section class="    ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Sản phẩm</th>
                                <th>Giá tiền</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="~/Content/img/featured/SIEUDONG.jpg" alt="">
                                    <h5>Siêu Đồng</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    45.000đ
                                </td>
                                @*class="shoping__cart__quantity"*@
                                <td>
                                    <form id='myform' method='POST' class='quantity' action='#'>
                                        <div class="quantity-form">
                                            <input type='button' value='-' class='qtyminus minus' field='quantity' />
                                            <input type='text' name='quantity' value='0' class='qty' />
                                            <input type='button' value='+' class='qtyplus plus' field='quantity' />
                                        </div>
                                    </form>

                                   
                                </td>
                                <td class="shoping__cart__total">
                                    45.000đ
                                </td>
                                <td class="shoping__cart__item__close">
                                    <a>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="#" class="primary-btn cart-btn">Tiếp tục mua sắm</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                        </svg>
                        Cập nhật giỏ hàng
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Mã giảm giá</h5>
                        <form action="#">
                            <input type="text" placeholder="Nhập Voucher ở đây">
                            <button type="submit" class="site-btn">Áp dụng Voucher</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Tổng tiền</h5>
                    <ul>
                        <li>Tổng phụ<span>45.000đ</span></li>
                        <li>Tổng cộng <span>45.000đ</span></li>
                    </ul>
                    <a href="#" class="primary-btn">Xác nhận thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
