
@{
    ViewBag.Title = "Detail";
}



<div class="collection-hero collection-hero--with-image collection-hero--contrast section-template--15208910487684__banner-padding">
    <div class="collection-hero__inner">
        <div class="collection-hero__image-container">
            <use-animate data-animate="zoom-fade" class="media-wrapper" animate="">
                <lazy-image class="collection-hero__image image-animate media media--adapt media-mobile--250px " style="--image-ratio-percent: 21.9672131147541%;">
                    <img class="img-product" width="900" height="600" srcset="//cdn.shopify.com/s/files/1/0579/7924/0580/collections/Sub_Category_Banners_Planters__Plastic_Desk.jpg?v=1662558821&amp;width=375 375w,//cdn.shopify.com/s/files/1/0579/7924/0580/collections/Sub_Category_Banners_Planters__Plastic_Desk.jpg?v=1662558821&amp;width=750 750w,//cdn.shopify.com/s/files/1/0579/7924/0580/collections/Sub_Category_Banners_Planters__Plastic_Desk.jpg?v=1662558821&amp;width=1100 1100w,//cdn.shopify.com/s/files/1/0579/7924/0580/collections/Sub_Category_Banners_Planters__Plastic_Desk.jpg?v=1662558821&amp;width=1500 1500w,
                //cdn.shopify.com/s/files/1/0579/7924/0580/collections/Sub_Category_Banners_Planters__Plastic_Desk.jpg?v=1662558821 2135w" src="//cdn.shopify.com/s/files/1/0579/7924/0580/collections/Sub_Category_Banners_Planters__Plastic_Desk.jpg?v=1662558821&amp;width=1100" sizes="(min-width: 1400px) 1300px, (min-width: 750px) calc(100vw - 10rem), 100vw" alt="Plastic Pots" width="2135" height="469">
                </lazy-image>
            </use-animate>
        </div><div class="page-width">
            <div class="collection-hero__text-wrapper">
                <h1 class="collection-hero__title">
                    <span class="visually-hidden">Collection:</span>
                    Chi Tiết Sản Phẩm
                </h1>
            </div>
        </div>
    </div>
</div>

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large" src="~/Content/img/featured/SieuKem.jpg" alt="">
                    </div>

                    <div class="product__details__pic__slider owl-carousel">

                        <img data-imgbigurl="~/Content/img/featured/SH_BORON.jpg"
                             src="~/Content/img/featured/SH_BORON.jpg" alt="">
                        <img data-imgbigurl="~/Content/img/featured/SIEUDONG.jpg"
                             src="~/Content/img/featured/SIEUDONG.jpg" alt="">
                        <img data-imgbigurl="~/Content/img/featured/xa-lach.jpg"
                             src="~/Content/img/featured/xa-lach.jpg" alt="">
                        <img data-imgbigurl="~/Content/img/featured/FulvicExtra.jpg"
                             src="~/Content/img/featured/FulvicExtra.jpg" alt="">
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>Siêu kẽm</h3>
                    <div class="product__details__rating">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EDBB0E" class="bi bi-star-half" viewBox="0 0 16 16">
                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                        </svg>
                        <span>(18 đánh giá)</span>
                    </div>
                    <div class="product__details__price">25 000đ</div>
                    <h3>Mô tả</h3>
                    <p>
                        Cung cấp đầy đủ dưỡng chất thiết yếu cho cây trồng ở giai đoạn trái non, giúp trái lớn “Phì trái”. Trái lớn nhanh, hạt nhỏ, cơm dầy, vị ngọt thơm. Tẩy chàm nám, bóng trái, màu trái đẹp. Chống rụng trái non, chống nứt và thối trái. Tăng trọng lượng trái, giúp trái bảo quản được lâu sau thu hoạch.
                    </p>
                    <div class="product__details__quantity">
                        <form id='myform' method='POST' class='quantity' action='#'>
                            <div class="quantity-form">
                                <input type='button' value='-' class='qtyminus minus' field='quantity' />
                                <input type='text' name='quantity' value='0' class='qty' />
                                <input type='button' value='+' class='qtyplus plus' field='quantity' />
                            </div>
                        </form>
                    </div>
                    <a href="#" class="primary-btn">THÊM VÀO GIỎ HÀNG</a>

                    <ul>
                        <li><b>Trạng thái</b> <span>Còn hàng</span></li>
                        <li><b>Dự kiến giao hàng</b> <span>1-3 ngày <samp>Miễn phí giao hàng hôm nay</samp></span></li>


                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__discount">
                    <div class="section-title product__discount__title " style="margin-top:2rem">
                        <h2>Sản phẩm gợi ý</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(-2340px, 0px, 0px); transition: all 1.2s ease 0s; width: 3510px;">
                                    <div class="owl-item cloned" style="width: 292.5px;">
                                        <div class="col-lg-4">
                                            <div class="product__discount__item">
                                                <div class="product__discount__item__pic set-bg" data-setbg="/Content/img/featured/SIEUDONG.jpg" style="background-image: url(&quot;/Content/img/featured/SIEUDONG.jpg&quot;);background-size:56%!important" ">
                                                    <ul class="product__item__pic__hover">
                                                        <li>
                                                            <a href="#">
                                                                <i class="bi bi-heart-fill"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="../Product/Detail">
                                                                <i class="bi bi-reply-fill"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="bi bi-cart-fill"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="product__discount__item__text">
                                                    <span>Phân bón lá</span>
                                                    <h5><a href="#">Siêu đồng</a></h5>
                                                    <div class="product__item__price">45.000đ <span>55.000đ</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 292.5px;">
                                        <div class="col-lg-4">
                                            <div class="product__discount__item">
                                                <div class="product__discount__item__pic set-bg" data-setbg="/Content/img/featured/hat-giong-dua-hau-tao-ruot-do.jpg" style="background-image: url(&quot;/Content/img/featured/hat-giong-dua-hau-tao-ruot-do.jpg&quot;);background-size:56%!important" ">

                                                    <ul class="product__item__pic__hover">
                                                        <li>
                                                            <a href="#">
                                                                <i class="bi bi-heart-fill"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="../Product/Detail">
                                                                <i class="bi bi-reply-fill"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="bi bi-cart-fill"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="product__discount__item__text">
                                                    <span>Hạt giống</span>
                                                    <h5><a href="#">Dưa hấu ruột đỏ</a></h5>
                                                    <div class="product__item__price">15.000đ <span>20.000đ</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 292.5px;">
                                        <div class="col-lg-4">
                                            <div class="product__discount__item">
                                                <div class="product__discount__item__pic set-bg" data-setbg="/Content/img/categories/HCBAOCUU.jpg" style="background-image: url(&quot;/Content/img/categories/HCBAOCUU.jpg&quot;); background-size:56%!important" ">
                                                    <ul class="product__item__pic__hover">
                                                        <li>
                                                            <a href="#">
                                                                <i class="bi bi-heart-fill"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="../Product/Detail">
                                                                <i class="bi bi-reply-fill"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="bi bi-cart-fill"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="product__discount__item__text">
                                                    <span>Phân hữu cơ</span>
                                                    <h5><a href="#">Bao cừu</a></h5>
                                                    <div class="product__item__price">55.000đ <span>65.000đ</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned active" style="width: 292.5px;">
                                        <div class="col-lg-4">
                                            <div class="product__discount__item">
                                                <div class="product__discount__item__pic set-bg" data-setbg="/Content/img/featured/VC-kali-1-rong.png" style="background-image: url(&quot;/Content/img/featured/VC-kali-1-rong.png&quot;); background-size:56%!important">
                                                    <ul class="product__item__pic__hover">
                                                        <li>
                                                            <a href="#">
                                                                <i class="bi bi-heart-fill"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="../Product/Detail">
                                                                <i class="bi bi-reply-fill"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="bi bi-cart-fill"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="product__discount__item__text">
                                                    <span>Phân vô cơ</span>
                                                    <h5><a href="#">Kali trắng MOP</a></h5>
                                                    <div class="product__item__price">60.000đ <span>75.000đ</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">Cách dùng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">Nhà sản xuất</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">Đánh giá  <span>(1)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Hướng dẫn sử dụng</h6>
                                <p>
                                    Lúa 120-250kg/ha/vụ, bón 1 lần sau khi cấy gieo sạ 7-10 ngày.

                                    Cây công nghiệp: Bón 400-600kg/ha/năm. Chia ra 2 lần bón vào giai đoạn trước khi ra hoa và sau khu thu hoạch.

                                    Cây ăn trái: Bón 400-600kg/ha/năm. Chia ra  2 lần bón vào giai đoạn trước khi ra hoa  và sau khi thu hoạch.

                                    Cây hoa và cây bonsai: Bón lót 300-500kh/ha.

                                    Rau màu:

                                    + Bón trước khi trồng: 200-300kg/ha.

                                    + Bón sau khi trồng 15 ngày: 250-300kg/ha.
                                </p>
                                <p>

                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Thông tin nhà sản xuất</h6>
                                <p>
                                    Công ty phân bón Hà Lan được thành lập từ năm 2011, là 1 trong những doanh nghiệp hàng đầu trong lĩnh vực sản xuất các loại phân bón cho cây trồng. Hệ thống dây chuyền sản xuất được đầu tư máy móc và trang bị công nghệ cao luôn cho ra đời những sản phẩm phân bón có chất lượng tuyệt vời cùng hàm lượng chính xác mang lại nhiều mùa màng bội thu, nông sản chất lượng cho nông dân cả nước, bạn có thể tham khảo các sản phẩm phân bón chất lượng cao của PBHL tại đây.

                                    Với rất nhiều thành tựu và cống hiến trong những năm qua của phân bón Hà Lan dành cho nông nghiệp, công ty đã đạt danh hiệu Top 10 thương hiệu được nhà nông yêu thích, top Brand năm 2015. Cung cấp nhiều sản phẩm phân bón: Amazon, Big One, Humax, Seven,…
                                </p>
                                <p>

                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Đánh giá sản phẩm</h6>
                                <div class="product-rating">
                                    <div class="score">
                                        <div style="display:flex; align-items:flex-end;">
                                            <h2>4.9</h2>    
                                            <span>trên 5</span>
                                        </div>
                                        <div style="width:100px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                            </svg>
                                        </div>

                                    </div>
                                    <div class="box-filter" style="margin-left: 0.9375rem">
                                        <a href="#" class="filter">Tất cả</a>
                                        <a href="#" class="filter">5 sao (22)</a>
                                        <a href="#" class="filter">4 sao (10)</a>
                                        <a href="#" class="filter">3 sao (5)</a>
                                        <a href="#" class="filter">2 sao (2)</a>
                                        <a href="#" class="filter">1 sao (0)</a>
                                        <a href="#" class="filter">Có Bình Luận (10)</a>
                                        <a href="#" class="filter">Có Hình Ảnh / Video (10)</a>
                                    </div>
                                </div>
                                <div class="product-comment">
                                    <div class="people"> 
                                          <a >Avatar </a>
                                          <div class="main">
                                              <div>buibaloc0311</div>
                                              <div>
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                  </svg>
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                  </svg>
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                  </svg>
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                  </svg>
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#EDBB0E" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                  </svg>
                                              </div>
                                              <div class="product-rating__time">2022-11-11 15:46 | Phân loại hàng: Bao 59kg</div>
                                              <div> <span style="color: rgba(0,0,0,.4);">Chất lượng sản phẩm:</span> rất tốt</div>
                                              <div> <span style="color: rgba(0,0,0,.4);">Tính năng nổi bậc:</span> rất tốt</div>
                                              <div style="margin: 0.9375rem 0;">Đóng gói cẩn thận, bao bì đẹp mắt</div>
                                              <div class="media-list">
                                                  <div class="image-product">
                                                      <img src="https://cf.shopee.vn/file/vn-11134103-22080-5f0mpsblxngvad" />
                                                  </div>
                                              </div>
                                          </div>
                                    </div>
                                    <hr>
                                </div>
                                <form>
                                    <div class="rating-css">
                                        <h4> Chọn đánh giá của bạn</h4>
                                        <div class="star-icon">
                                            <input type="radio" name="rating1" id="rating1">
                                            <label class="bi bi-star-fill" for="rating1"></label>
                                            <input type="radio" name="rating1" id="rating2">
                                            <label class="bi bi-star-fill" for="rating2"></label>
                                            <input type="radio" name="rating1" id="rating3">
                                            <label class="bi bi-star-fill" for="rating3"></label>
                                            <input type="radio" name="rating1" id="rating4">
                                            <label class="bi bi-star-fill" for="rating4"></label>
                                            <input type="radio" name="rating1" id="rating5">
                                            <label class="bi bi-star-fill" for="rating5"></label>

                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="checkout__input">
                                                    <p>Nội dung<span>*</span></p>
                                                    <textarea type="text" required="" ></textarea> 
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkout__input">
                                                    <p>Họ tên<span>*</span></p>
                                                    <input type="text" required="">
                                                </div>
                                                <input style="border-radius: 4px;" type="file" id="myFile" name="filename" >
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="checkout__input">
                                                    <p>Chất lượng sản phẩm<span>*</span></p>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkout__input">
                                                    <p>Tính năng nổi bậc<span>*</span></p>
                                                    <input type="text">
                                                </div>
                                                
                                            </div>
                                            <button type="submit" class="site-btn" style=" width: 130px; margin-left: 0.7rem;">Đánh giá</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product Details Section End -->
@Scripts.Render("~/Content/js/main.js")